h1{color: greenyellow;
}

h1 {text-align: center;
}

p{color: white;
}

h2{color: aliceblue;
}

h2{text-align: center;
}

p{	font-size: 20;
	text-align: justify;
}

img{width: 40%;
}

#Cigarro-02 {width: 100%;
}

h2{color: green;
}

nav li {
	display: inline;
}

li{
	font-family: verdana;
}